@model Category

<form method="post">
	<div class="border p-4 mt-4 rounded shadow">
		<div class="row pb-2">
			<h2 class="text-primary">Delete a Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label for="categoryName" class="form-label">Category Name</label>
			<input readonly id="categoryName" class="form-control" placeholder="Enter category name" required asp-for="Name" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label for="displayOrder" class="form-label">Display Order</label>
			<input readonly id="displayOrder" class="form-control" placeholder="Enter display order" required asp-for="DisplayOrder" />
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>
		</div>

		<div class="row">
			<div class="col-md-6">
				<button type="submit" class="btn btn-primary w-100">Delete</button>
			</div>
			<div class="col-md-6">
				<a asp-controller="Category" asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}